<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list" *ngIf="promiseForCategories">
            <li
              class="rootCategory dropdown-item"
              *ngFor="let category of categories"
            >
              <a [routerLink]="['/categories', category.slug]">{{
                category.name
              }}</a>
              <ul class="hide" *ngIf="!category.type.includes('parent')">
                <li
                  class="secondCategory"
                  *ngFor="let child of category.children"
                >
                  <a [routerLink]="['/categories', child.slug]">{{
                    child.slug
                  }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
    <div class="btn-group dropleft">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        data-display="static"
        aria-haspopup="true"
        aria-expanded="false"
      >
        cart
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
        <a *ngIf="cartItems.length > 0" routerLink="/cart" class="dropdown-item"
          ><i style="font-family: sans-serif">{{ quantityItems }}</i> items in
          cart <i style="font-family: sans-serif"> {{ totalPrice }}</i> lei</a
        >
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <h3 *ngIf="isLoggedIn">Hi, {{ user.name }}</h3>
      <button
        *ngIf="!isLoggedIn"
        routerLink="/auth"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
      <button
        *ngIf="isLoggedIn"
        (click)="logout()"
        routerLink="/auth"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Logout
      </button>
    </form>
  </div>
</nav>
