<div *ngIf="promiseForCategories">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home"> Home </a>
    </li>
    <li *ngFor="let categories of category.parents">
      <a [routerLink]="['/categories', categories.slug]">{{
        categories.name
      }}</a>
    </li>

    <li>{{ category.name }}</li>
  </ul>
  <div class="categories-container">
    <!-- LEFT SIDE -->
    <div id="left">
      <h3 style="padding-bottom: 30px">{{ category.name }}</h3>

      <ul class="list">
        <li
          *ngFor="let categories of category.children"
          [routerLink]="['/categories', categories.slug]"
        >
          {{ categories.name }}
        </li>
      </ul>
    </div>

    <!-- RIGHT SIDE  -->
    <div id="right">
      <div></div>
      <div></div>
      <app-categories-template
        style="width: 100%"
        *ngIf="thereAreCategories"
      ></app-categories-template>
      <app-products-template
        style="width: 100%"
        *ngIf="!thereAreCategories"
      ></app-products-template>
    </div>
  </div>
</div>
