<div *ngIf="promiseForProducts" id="containerCards" class="d-flex">
  <div *ngFor="let product of products" class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a
        style="cursor: pointer"
        class="btn btn-primary"
        (click)="addToCart(product)"
        >Add to cart
      </a>
    </div>
  </div>
</div>
